torch
gunicorn
torchvision>=0.5
opencv-python-headless
opencv-python
scipy
numpy
Pillow
scikit-image
python-bidi
PyYAML
Shapely
pyclipper
pandas
ninja
six
natsort
nltk
fastapi
uvicorn
python-dotenv
timm
ultralytics
python-multipart
